.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        margin-bottom: 16px;
    }

    h2 {
        text-align: center;
        margin-bottom: 26px;
        @media(max-width:"1200px"){
            margin-top: 10px;            
        }

    }
    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 48px;
            @media (max-width: 700px) {
                height: 48px;
            }
        }
    }
    .cards {
        display: flex;
    }
    .system {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: $lightgray;

        box-shadow: rgba(#000000, $alpha: 0.2) -1px 1px 10px inset;
        border-radius: 14px;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        @media (max-width: 1200px) {
            .container {
                display: flex;
                justify-content: center;
            }
            p {
                max-width:55%;
            }
            img {
                height: 150px;
                width: 150px;
            }
        }
        h3 {
            width: 100%;
        }
        .os {
            gap: 20px;

            h4 {
                margin-left: 24px;

                margin-bottom: 12px;
            }
        }
    }
}
