/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
    background-color: #fffef8;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
    cursor: pointer;
}
#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 45px;
}

.gallery img {
    width: 100%;
    height: 100%;
}
figcaption {
    margin-top: 8px;
}
.filters {
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.button {
    cursor: pointer;
    text-align: center;
    min-width: 100px;
    font-family: Syne;
    font-weight: 700;
    font-size: 16px;
    color: #1d6154;
    border: 1px solid #1d6154;
    border-radius: 60px;
    padding: 9px;
    line-height: normal;
    text-wrap: wrap;
}
.button-selected {
    background: #1d6154;
    color: white;
}
.form {
    width: 50%;
    margin: auto;
}
.form > * {
    text-align: center;
}
.form h2 {
    margin-bottom: 20px;
}
.form form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.form input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form label {
    margin: 2em 0 1em 0;
}
.form textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form a {
    color: black;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 415px;
}
input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}
footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

#erreur {
    position: absolute;
    color: red;
}

.edit-mode {
    background-color: black;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
}
.edit-mode p {
    color: white;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px;
}

.edit-projects {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    transform: translate(150px, -50px);
}
.edit-projects:hover {
    color: #b1663c;
}

.edit-projects img {
    margin-left: 30px;
    margin-right: 10px;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
    position: relative;
    background-color: white;
    width: 630px;
    height: 688px;
    border-radius: 10px;
    text-align: center;
}

.xmark {
    position: absolute;
    right: 0;
    padding: 30px;
    cursor: pointer;
}
.arrow-left {
    display: none;
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 30px;
}

.modal a {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 237px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}

.title-modal {
    margin-top: 60px;
    color: black;
    font-size: 26px;
}

.container {
    margin: 46px 105px 10px;
    padding-bottom: 68px;
    border-bottom: 1px solid #b3b3b3;
}
.gallery-modal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap: 20px;
}
.gallery-modal figure img {
    width: 80px;
    height: 104px;
}
.gallery-modal figure figcaption {
    display: none;
}
.gallery-modal figure {
    position: relative;
}
.gallery-modal figure .trashCan {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 10px;
    height: 11px;
    background-color: black;
    padding: 2px;
}
.trashCan {
    cursor: pointer;
    display: none;
    width: 5px;
    height: 5px;
}
#modalForm {
    display: flex;
    flex-direction: column;
    position: relative;
}
.add-photo-modal .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    background-color: #e8f1f6;
    margin-bottom: 30px;
}
.add-photo-button {
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 36px;
    color: #306685;
    background-color: #cbd6dc;
    border-radius: 60px;
    cursor: pointer;
    margin-bottom: 7px;
}

.add-photo-text {
    color: #444;
    font-size: 10px;
    margin-bottom: 19px;
}

.add-photo-modal {
    display: flex;
    flex-direction: column;
    padding-bottom: 47px;
}
.add-photo-modal input {
    border: none;
    height: 50px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
    padding-left: 16px;
}

.add-photo-modal label {
    text-align: left;
    margin-bottom: 10px;
}
.add-photo-modal select {
    border: none;
    background-color: white;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    height: 50px;
    padding-left: 16px;
}

#info-modal {
    margin-top: 16px;
}

#submit {
    position: absolute;
    border: none;
    height: 36px;
    width: 237px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -120px;
    border-radius: 60px;
    background-color: #a7a7a7;
    color: white;
    font-size: 14px;
    font-family: Syne;
    cursor: pointer;
}
