.up {
    position: absolute;
    top: 0;
    margin-top: 80px;
}

.down {
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
}

.up,
.down {
    transition: 0.5s;
    &:hover {
        filter: brightness(1.2);
        transform: scale(1.2);
        transition: 0.5s;
    }
}
