.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 124px;
    margin-bottom: 26px;
    .nav {
        font-weight: 400;
        font-size: 28px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-14px);
        display: flex;
        gap: 50px;
        padding-right: 60px;
        a {
            text-decoration: none;
            color: black;
        }
    }
}
