.info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-right: 60px;
    margin-left: 60px;
    padding-top: 34px;
    padding-bottom: 34px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    height: 50%;

    .text {
        max-width: 50%;
    }
    .profile {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    @media (min-width: 1240px) {
        margin-left: 25%;
        margin-right: 25%;
    }
}
