.accordion {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 920px;
    gap: 30px;
    margin-top: 48px;
    margin-bottom: 38px;
    @media (max-width: 768px) {
        margin-top: 20px;
        gap: 20px;
    }
}
