@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap");

* {
    font-family: "Noto Sans";
    padding: 0;
    margin: 0;
}

@import "./components/Header/Header.scss";
@import "./components/Info/Info.scss";
