@media (min-width: 768px) {
    .home {
        header {
            h1 {
                padding: 30px 0 32px 0;
            }
        }
        .reservation {
            padding: 30px;
            h2 {
                font-size: 40px;
            }
            p {
                padding: 18px 0;
            }
        }
        .fonctionnement {
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                width: 100%;
                max-width: 1080px;
            }
            .container {
                width: 100%;
                max-width: 1080px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .card-fonctionnement {
                    width: 100%;
                    margin-right: 0;
                    margin-left: 15px;

                    &-content {
                        align-items: center;
                    }
                }
            }
        }
        .restaurants {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                width: 100%;
                max-width: 1080px;
            }
            .container {
                max-width: 1080px;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 100px;
                row-gap: 50px;
                .card-restaurants {
                    margin: 0;
                }
            }
        }
    }
}
