@keyframes opacityFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes letters {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}

@keyframes display {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
