@import "./variables.scss";

.button {
    display: flex;
    text-align: center;
    font-family: Roboto;
    border-radius: 25px;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    justify-content: center;
    align-items: center;
    &:hover {
        background: linear-gradient(#ff79da, #9356dc);
        opacity: 0.85;
    }

    &--restaurant {
        width: 218px;
        height: 50px;
    }
    &--commander {
        width: 186px;
        height: 50px;
    }
}
