@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Shrikhand&display=swap");
@import "./variables.scss";
@import "./ui.scss";

//Global
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
h1,
h4 {
    font-family: Shrikhand;
}
h2 {
    font-size: 24px;
}
h4 {
    font-weight: 400;
    font-size: 18px;
}
p,
h3 {
    color: black;
}
a {
    text-decoration: none;
}

//Structure
body {
    header {
        text-align: center;
        h1 {
            padding-top: 14px;
            padding-bottom: 5px;
        }
        .location {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: $grey2;
            height: 50px;
            img {
                width: 12px;
                height: 16px;
                margin-right: 17px;
            }
            span {
                display: flex;
                align-items: center;
            }
        }
    }
    main > * {
        padding-left: 18px;
        padding-right: 18px;
    }
    .reservation {
        text-align: center;

        background-color: $bgColor2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 25px 60px 25px;
        margin-bottom: 48px;

        p {
            padding: 25px 0;
            font-weight: 300;
        }
    }
    .restaurants {
        background-color: $bgColor2;
        h2 {
            padding-top: 54px;
            margin-bottom: 25px;
        }
        article {
            margin-bottom: 18px;
        }
    }
    .fonctionnement {
        h2 {
            padding-bottom: 26px;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding-bottom: 68px;

            .card-fonctionnement {
                margin-left: 15px;
            }
        }
    }
    footer {
        color: white;
        display: flex;
        flex-direction: column;
        background-color: $grey;
        padding-top: 22px;
        padding-bottom: 22px;
        gap: 7px;
        p {
            color: white;
        }
    }
}
