@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Shrikhand&display=swap");
@import "./variables.scss";
@import "./button.scss";

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body {
    padding-left: 18px;
    padding-right: 18px;
}
h1 {
    font-family: Shrikhand;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
}
