@import "./variables.scss";
@import "./anim.scss";

article {
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;

    input {
        display: none;
        &:hover ~ .validate {
            width: 68px;
        }
        &:hover ~ .card-menu {
            border-radius: 20px 0 0 20px;
            transition-delay: 0s;
        }
    }

    input:checked ~ .validate {
        width: 68px;
        animation: opacityFade 1s;
    }
    input:checked ~ .card-menu {
        border-radius: 20px 0 0 20px;
        transition-delay: 0s;
        animation: opacityFade 1s;
    }

    .validate-container {
        display: flex;
    }
}
.button {
    display: flex;
    text-align: center;
    font-family: Roboto;
    border-radius: 25px;
    background: linear-gradient($secondary, $primary);
    color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    &:hover {
        opacity: 0.85;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }

    &-restaurant {
        width: 218px;
        height: 50px;
    }
    &-commander {
        width: 186px;
        height: 50px;
    }
}
.card {
    height: 72px;
    &-fonctionnement {
        display: flex;
        align-items: center;
        .number {
            transform: translateX(-50%);
            color: white;
            background-color: $primary;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            span {
                height: 100%;
                font-size: 14px;
                font-style: normal;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-content {
            padding: 0 10px;
            font-weight: 500;

            .icon {
                &-tel {
                    width: 13px;
                    height: 20px;
                }
                &-menu {
                    width: 16px;
                    height: 16px;
                }
                &-resto {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    &-menu {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        padding: 15px;
        height: 42px;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        transition: border-radius ease-out 0.5s;
        transition-delay: 0.5s;
        h3,
        .menu-title {
            font-size: 18px;
            font-weight: 500;
        }
        p,
        .menu-subtitle {
            font-size: 15px;
            font-weight: 300;
            bottom: 15px;
        }
        h3,
        p,
        .menu-title,
        .menu-subtitle {
            position: absolute;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 80%;
        }

        .menu-prix {
            position: absolute;
            right: 15px;
            bottom: 15px;
            font-size: 15px;
            font-weight: 700;
        }
    }

    &-restaurants {
        background-color: white;
        border-radius: 15px;
        position: relative;
        img {
            object-fit: cover;
            height: 231px;
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
        .new {
            display: flex;
            position: absolute;
            top: 12px;
            right: 12px;
            align-items: center;
            justify-content: center;
            background-color: $tertiary;
            color: $green-font;
            height: 30px;
            width: 80px;
        }

        &-content {
            position: relative;
            padding: 16px 0 12px 13px;
            p {
                font-weight: 300;
                padding-top: 5px;
                font-size: 17px;
            }
        }
    }
}
.container-like {
    position: absolute;

    .like {
        display: block;
        cursor: pointer;
        width: 22px;
        height: 21px;
        background-image: url("/Projet-4/Ohmyfood/assets/images/icons/like.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    input {
        display: none;
    }
    input:checked ~ .like {
        background-image: url("/Projet-4/Ohmyfood/assets/images/icons/liked.png");
        animation: opacityFade 0.5s;
    }
}
.validate {
    width: 0px;
    height: 72px;
    border-radius: 0 20px 20px 0;
    transition: width 0.6s;
}
.border {
    background-color: $bgColor;
    height: 32px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 30px 30px 0 0;
    @media (min-width: 1235px) {
        max-width: 1091px;
    }
}

//LOADER
.div-loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $grey2;
    top: 0;
    position: fixed;
    z-index: 1;
    text-align: center;
    animation: display 2s linear forwards;
    animation-timing-function: steps(1, end);
    .container {
        background-color: white;
        padding: 50px;
        border-radius: 20px;
        .loader {
            display: inline-block;
            width: 48px;
            height: 48px;
            border: 5px solid $primary;
            border-bottom-color: $secondary;
            border-radius: 50%;
            box-sizing: border-box;
            animation: rotation 1.5s linear infinite;
        }
        .letters {
            margin-top: 10px;
            font-size: 2em;

            .l-1 {
                animation: letters $delay linear infinite;
                animation-delay: 0s;
            }
            .l-2 {
                animation: letters $delay linear infinite;
                animation-delay: 0.2s;
            }
            .l-3 {
                animation: letters $delay linear infinite;
                animation-delay: 0.4s;
            }
            .l-4 {
                animation: letters $delay linear infinite;
                animation-delay: 0.6s;
            }
            .l-5 {
                animation: letters $delay linear infinite;
                animation-delay: 0.8s;
            }
            .l-6 {
                animation: letters $delay linear infinite;
                animation-delay: 1s;
            }
            .l-7 {
                animation: letters $delay linear infinite;
                animation-delay: 1.2s;
            }
            .l-8 {
                animation: letters $delay linear infinite;
                animation-delay: 1.4s;
            }

            & > * {
                font-family: Shrikhand;
            }
        }
    }
}
.restaurants-entrees {
    @for $i from 2 through 5 {
        article:nth-child(#{$i}) {
            animation: menuTranslate 2 + $delayT + s;
        }
        $delayT: + $delayT + 0.5;
    }
}
.restaurants-plats {
    @for $i from 2 through 5 {
        article:nth-child(#{$i}) {
            animation: menuTranslate 2 + $delayT + s;
        }
        $delayT: + $delayT + 0.5;
    }
}
.restaurants-desserts {
    @for $i from 2 through 5 {
        article:nth-child(#{$i}) {
            animation: menuTranslate 2 + $delayT + s;
        }
        $delayT: + $delayT + 0.5;
    }
}
