@keyframes opacityFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menuTranslate {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes letters {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@keyframes display {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
article {
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
}
article .validate-container {
  display: flex;
}
article .validate-container input {
  display: none;
}
article .validate-container input:hover ~ .validate {
  width: 68px;
}
article .validate-container input:hover ~ .card-menu {
  border-radius: 20px 0 0 20px;
  transition-delay: 0s;
}
article .validate-container input:checked ~ .validate {
  width: 68px;
  animation: opacityFade 1s;
}
article .validate-container input:checked ~ .card-menu {
  border-radius: 20px 0 0 20px;
  transition-delay: 0s;
  animation: opacityFade 1s;
}

.button {
  display: flex;
  text-align: center;
  font-family: Roboto;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}
.button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.button-restaurant {
  width: 218px;
  height: 50px;
}
.button-commander {
  width: 186px;
  height: 50px;
}

.card {
  height: 72px;
}
.card-fonctionnement {
  display: flex;
  align-items: center;
}
.card-fonctionnement .number {
  transform: translateX(-50%);
  color: white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.card-fonctionnement .number span {
  height: 100%;
  font-size: 14px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-fonctionnement-content {
  padding: 0 10px;
  font-weight: 500;
}
.card-fonctionnement-content .icon-tel {
  width: 13px;
  height: 20px;
}
.card-fonctionnement-content .icon-menu {
  width: 16px;
  height: 16px;
}
.card-fonctionnement-content .icon-resto {
  width: 18px;
  height: 18px;
}
.card-menu {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  padding: 15px;
  height: 42px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  transition: border-radius ease-out 0.5s;
  transition-delay: 0.5s;
}
.card-menu h3,
.card-menu .menu-title {
  font-size: 18px;
  font-weight: 500;
}
.card-menu p,
.card-menu .menu-subtitle {
  font-size: 15px;
  font-weight: 300;
  bottom: 15px;
}
.card-menu h3,
.card-menu p,
.card-menu .menu-title,
.card-menu .menu-subtitle {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}
.card-menu .menu-prix {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 15px;
  font-weight: 700;
}
.card-restaurants {
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.card-restaurants img {
  object-fit: cover;
  height: 231px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card-restaurants .new {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: #008766;
  height: 30px;
  width: 80px;
}
.card-restaurants-content {
  position: relative;
  padding: 16px 0 12px 13px;
}
.card-restaurants-content p {
  font-weight: 300;
  padding-top: 5px;
  font-size: 17px;
}

.container-like {
  position: absolute;
}
.container-like .like {
  display: block;
  cursor: pointer;
  width: 22px;
  height: 21px;
  background-image: url("/Projet-4/Ohmyfood/assets/images/icons/like.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.container-like input {
  display: none;
}
.container-like input:checked ~ .like {
  background-image: url("/Projet-4/Ohmyfood/assets/images/icons/liked.png");
  animation: opacityFade 0.5s;
}

.validate {
  width: 0px;
  height: 72px;
  border-radius: 0 20px 20px 0;
  transition: width 0.6s;
}

.border {
  background-color: #f3f3f3;
  height: 32px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 30px 30px 0 0;
}
@media (min-width: 1235px) {
  .border {
    max-width: 1091px;
  }
}

.div-loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  top: 0;
  position: fixed;
  z-index: 1;
  text-align: center;
  animation: display 2s linear forwards;
  animation-timing-function: steps(1, end);
}
.div-loader .container {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}
.div-loader .container .loader {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 5px solid #9356dc;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}
.div-loader .container .letters {
  margin-top: 10px;
  font-size: 2em;
}
.div-loader .container .letters .l-1 {
  animation: letters 1.6s linear infinite;
  animation-delay: 0s;
}
.div-loader .container .letters .l-2 {
  animation: letters 1.6s linear infinite;
  animation-delay: 0.2s;
}
.div-loader .container .letters .l-3 {
  animation: letters 1.6s linear infinite;
  animation-delay: 0.4s;
}
.div-loader .container .letters .l-4 {
  animation: letters 1.6s linear infinite;
  animation-delay: 0.6s;
}
.div-loader .container .letters .l-5 {
  animation: letters 1.6s linear infinite;
  animation-delay: 0.8s;
}
.div-loader .container .letters .l-6 {
  animation: letters 1.6s linear infinite;
  animation-delay: 1s;
}
.div-loader .container .letters .l-7 {
  animation: letters 1.6s linear infinite;
  animation-delay: 1.2s;
}
.div-loader .container .letters .l-8 {
  animation: letters 1.6s linear infinite;
  animation-delay: 1.4s;
}
.div-loader .container .letters > * {
  font-family: Shrikhand;
}

.restaurants-entrees article:nth-child(2) {
  animation: menuTranslate 2s;
}
.restaurants-entrees article:nth-child(3) {
  animation: menuTranslate 2.5s;
}
.restaurants-entrees article:nth-child(4) {
  animation: menuTranslate 3s;
}
.restaurants-entrees article:nth-child(5) {
  animation: menuTranslate 3.5s;
}

.restaurants-plats article:nth-child(2) {
  animation: menuTranslate 2s;
}
.restaurants-plats article:nth-child(3) {
  animation: menuTranslate 2.5s;
}
.restaurants-plats article:nth-child(4) {
  animation: menuTranslate 3s;
}
.restaurants-plats article:nth-child(5) {
  animation: menuTranslate 3.5s;
}

.restaurants-desserts article:nth-child(2) {
  animation: menuTranslate 2s;
}
.restaurants-desserts article:nth-child(3) {
  animation: menuTranslate 2.5s;
}
.restaurants-desserts article:nth-child(4) {
  animation: menuTranslate 3s;
}
.restaurants-desserts article:nth-child(5) {
  animation: menuTranslate 3.5s;
}

article {
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

h1,
h4 {
  font-family: Shrikhand;
}

h2 {
  font-size: 24px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
}

p,
h3 {
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

.mouse-pointer:hover {
  cursor: pointer;
}

footer {
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 18px;
  gap: 7px;
}
footer .bold {
  font-weight: 500;
}
footer h4 {
  padding-bottom: 16px;
}
footer a {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 1.8;
}
footer a img {
  margin-right: 11px;
}
footer a .couvert {
  width: 11px;
  height: 13px;
}
footer a .hand {
  width: 12px;
  height: 13px;
}
footer p {
  color: white;
}
@media (min-width: 1080px) {
  footer {
    padding-right: 100px;
    height: 114px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  footer .icon-footer {
    display: flex;
    margin-right: 50px;
    gap: 10px;
  }
  footer .link-footer {
    display: flex;
    margin-right: 100px;
    gap: 20px;
  }
  footer h4 {
    padding: 0;
    margin: 0;
  }
  footer .footer-content {
    display: flex;
  }
}

@media (max-width: 1080px) {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
}
.home header {
  text-align: center;
}
.home header h1 {
  padding-top: 14px;
  padding-bottom: 5px;
}
.home header .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  height: 50px;
}
.home header .location img {
  width: 12px;
  height: 16px;
  margin-right: 17px;
}
.home header .location span {
  display: flex;
  align-items: center;
}
.home main > * {
  padding-left: 18px;
  padding-right: 18px;
}
.home .reservation {
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 25px 60px 25px;
  margin-bottom: 48px;
}
.home .reservation p {
  padding: 25px 0;
  font-weight: 300;
}
.home .fonctionnement {
  padding-bottom: 68px;
}
.home .fonctionnement h2 {
  padding-bottom: 26px;
}
.home .fonctionnement div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.home .fonctionnement div .card-fonctionnement {
  margin-left: 30px;
  margin-right: 15px;
}
.home .fonctionnement div .card-fonctionnement-content {
  flex-direction: row;
}
.home .restaurants {
  background-color: #f6f6f6;
  padding-bottom: 66px;
}
.home .restaurants h2 {
  padding-top: 54px;
  margin-bottom: 25px;
}
.home .restaurants article {
  margin-bottom: 18px;
}
.home .restaurants .container-like {
  right: 25px;
  bottom: 33px;
}

.restaurants header {
  text-align: center;
  position: relative;
}
.restaurants header h1 {
  padding-top: 14px;
  padding-bottom: 5px;
}
.restaurants header img {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 17px;
  top: 17px;
}
.restaurants .img-border {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .img-border img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.restaurants .img-border .border {
  max-width: 1055px;
}
.restaurants main > * {
  padding-left: 18px;
  padding-right: 18px;
}
.restaurants main .container {
  background-color: #f3f3f3;
}
.restaurants main .container .restaurants-title {
  position: relative;
  margin-top: 0;
  padding: 0;
  padding-left: 18px;
}
.restaurants main .container h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  height: 27px;
}
.restaurants main .container section {
  margin-top: 40px;
}
.restaurants main .container article {
  margin-top: 12px;
}
.restaurants main .container .restaurants-commander {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.restaurants main .container .container-like {
  right: 40px;
  bottom: 6px;
}

@media (min-width: 768px) {
  .home header h1 {
    padding: 30px 0 32px 0;
  }
  .home .reservation {
    padding: 30px;
  }
  .home .reservation h2 {
    font-size: 40px;
  }
  .home .reservation p {
    padding: 18px 0;
  }
  .home .fonctionnement {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .fonctionnement h2 {
    width: 100%;
    max-width: 1080px;
  }
  .home .fonctionnement .container {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .home .fonctionnement .container .card-fonctionnement {
    width: 100%;
    margin-right: 0;
    margin-left: 15px;
  }
  .home .fonctionnement .container .card-fonctionnement-content {
    align-items: center;
  }
  .home .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .restaurants h2 {
    width: 100%;
    max-width: 1080px;
  }
  .home .restaurants .container {
    max-width: 1080px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
  }
  .home .restaurants .container .card-restaurants {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .restaurants .container {
    padding: 0;
  }
  .restaurants header h1 {
    padding: 30px 0 32px 0;
  }
  .restaurants header img {
    top: 34px;
  }
  .restaurants main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants main .container {
    max-width: 1055px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .restaurants main .container h1 {
    width: 100%;
  }
  .restaurants main .container .content {
    max-width: 640px;
    width: 100%;
  }
  .restaurants main .container-like {
    left: 270px;
  }
}

/*# sourceMappingURL=style.css.map */
