@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes opacityFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button {
  display: flex;
  text-align: center;
  font-family: Roboto;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button:hover {
  opacity: 0.85;
}
.button-restaurant {
  width: 218px;
  height: 50px;
}
.button-commander {
  width: 186px;
  height: 50px;
}

.card {
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 72px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.card-fonctionnement {
  display: flex;
  align-items: center;
}
.card-fonctionnement .number {
  transform: translateX(-50%);
  color: white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.card-fonctionnement .number span {
  height: 100%;
  font-size: 14px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-fonctionnement-content {
  padding: 0 10px;
  font-weight: 500;
}
.card-fonctionnement-content .icon-tel {
  width: 13px;
  height: 20px;
}
.card-fonctionnement-content .icon-menu {
  width: 16px;
  height: 16px;
}
.card-fonctionnement-content .icon-resto {
  width: 18px;
  height: 18px;
}
.card-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding: 15px;
  height: 42px;
  width: 100%;
  transition: border-radius 1.5s;
}
.card-menu h3 {
  font-size: 18px;
  font-weight: 500;
}
.card-menu p {
  font-size: 15px;
  font-weight: 300;
  bottom: 15px;
}
.card-menu h3,
.card-menu p {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}
.card-menu:hover {
  border-radius: 20px 0 0 20px;
  transition: border-radius 0s;
}
.card-menu:hover .validate {
  display: flex;
}
.card-menu .menu-prix {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 15px;
  font-weight: 700;
}
.card-restaurants {
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.card-restaurants img {
  object-fit: cover;
  height: 231px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card-restaurants span {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: #008766;
  height: 30px;
  width: 80px;
}
.card-restaurants-content {
  position: relative;
  padding: 16px 0 12px 13px;
}
.card-restaurants-content p {
  font-weight: 300;
  padding-top: 5px;
  font-size: 17px;
}

.container-like {
  position: absolute;
}
.container-like .like {
  cursor: pointer;
  width: 22px;
  height: 21px;
  background-image: url("/Projet-4/Ohmyfood/assets/images/icons/like.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.container-like input {
  display: none;
}
.container-like input:checked ~ .like {
  background-image: url("/Projet-4/Ohmyfood/assets/images/icons/liked.png");
  animation: opacityFade 0.5s ease-out;
}

.validate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 72px;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  transition: visibility 0;
}
.validate span {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.border {
  background-color: #f3f3f3;
  height: 32px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 30px 30px 0 0;
}
@media (min-width: 1235px) {
  .border {
    max-width: 1091px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

h1,
h4 {
  font-family: Shrikhand;
}

h2 {
  font-size: 24px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
}

p,
h3 {
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 18px;
  gap: 7px;
}
footer .bold {
  font-weight: 500;
}
footer h4 {
  padding-bottom: 16px;
}
footer a {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 1.8;
}
footer a img {
  margin-right: 11px;
}
footer a .couvert {
  width: 11px;
  height: 13px;
}
footer a .hand {
  width: 12px;
  height: 13px;
}
footer p {
  color: white;
}
@media (min-width: 1235px) {
  footer {
    padding-right: 100px;
  }
  footer .icon-footer {
    display: flex;
    margin-right: 50px;
    gap: 10px;
  }
  footer .link-footer {
    display: flex;
    margin-right: 100px;
    gap: 20px;
  }
}

.home header {
  text-align: center;
}
.home header h1 {
  padding-top: 14px;
  padding-bottom: 5px;
}
.home header .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  height: 50px;
}
.home header .location img {
  width: 12px;
  height: 16px;
  margin-right: 17px;
}
.home header .location span {
  display: flex;
  align-items: center;
}
.home main > * {
  padding-left: 18px;
  padding-right: 18px;
}
.home .reservation {
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 25px 60px 25px;
  margin-bottom: 48px;
}
.home .reservation p {
  padding: 25px 0;
  font-weight: 300;
}
.home .fonctionnement {
  padding-bottom: 68px;
}
.home .fonctionnement h2 {
  padding-bottom: 26px;
}
.home .fonctionnement div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.home .fonctionnement div .card-fonctionnement {
  margin-left: 15px;
}
.home .fonctionnement div .card-fonctionnement-content {
  flex-direction: row;
}
.home .restaurants {
  background-color: #f6f6f6;
  padding-bottom: 66px;
}
.home .restaurants h2 {
  padding-top: 54px;
  margin-bottom: 25px;
}
.home .restaurants article {
  margin-bottom: 18px;
}
.home .restaurants .container-like {
  right: 25px;
  bottom: 33px;
}

.restaurants header {
  text-align: center;
  position: relative;
}
.restaurants header h1 {
  padding-top: 14px;
  padding-bottom: 5px;
}
.restaurants header img {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 17px;
  top: 17px;
}
.restaurants .img-border {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .img-border img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.restaurants main > * {
  padding-left: 18px;
  padding-right: 18px;
}
.restaurants main .container {
  background-color: #f3f3f3;
}
.restaurants main .container .restaurants-title {
  position: relative;
  margin-top: 0;
  padding: 0;
  padding-left: 18px;
}
.restaurants main .container h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  height: 27px;
}
.restaurants main .container section {
  margin-top: 40px;
}
.restaurants main .container article {
  margin-top: 12px;
}
.restaurants main .container section article {
  display: flex;
}
.restaurants main .container section .validate {
  transition: width 0.5s;
}
.restaurants main .container section article:hover .validate {
  width: 68px;
}
.restaurants main .container .restaurants-commander {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.restaurants main .container .container-like {
  right: 40px;
  bottom: 10px;
}

@media (min-width: 1235px) {
  .home header h1 {
    padding: 30px 0 32px 0;
  }
  .home .reservation {
    padding: 30px;
  }
  .home .reservation h2 {
    font-size: 40px;
  }
  .home .reservation p {
    padding: 18px 0;
  }
  .home .fonctionnement {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .fonctionnement h2 {
    width: 100%;
    max-width: 1080px;
  }
  .home .fonctionnement .container {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .home .fonctionnement .container .card-fonctionnement {
    width: 100%;
  }
  .home .restaurants {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .restaurants h2 {
    width: 100%;
    max-width: 1080px;
  }
  .home .restaurants .container {
    max-width: 1080px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
  }
  .home .restaurants .container .card-restaurants {
    margin: 0;
  }
  .home footer {
    height: 114px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .home footer h4 {
    padding: 0;
    margin: 0;
  }
  .home footer .footer-content {
    display: flex;
  }
}
@media (min-width: 1235px) {
  .restaurants header h1 {
    padding: 24px;
  }
  .restaurants header img {
    top: 34px;
  }
  .restaurants main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants main .container {
    max-width: 1055px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .restaurants main .container h1 {
    width: 100%;
  }
  .restaurants main .container .content {
    max-width: 640px;
    width: 100%;
  }
  .restaurants main .container-like {
    left: 270px;
    bottom: 10px;
  }
  .restaurants footer {
    height: 114px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .restaurants footer h4 {
    padding: 0;
    margin: 0;
  }
  .restaurants footer .footer-content {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
