footer {
    color: white;
    background-color: black;
    text-align: center;

    img {
        width: 122px;
        height: 40px;
        margin-top: 66px;
        margin-bottom: 30px;
    }
    p {
        padding-bottom: 30px;
    }
}
