@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a {
    color: $red;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline $red;
    }
}
.home,
.apropos,
.logements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.logements {
    &-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1240px;
        margin-top: 30px;

        h3 {
            color: $red;
            font-size: 36px;
            font-weight: 500;
        }
        p {
            color: $red;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &-description {
        display: flex;
        flex-direction: column;
    }
    &-tags {
        width: 100%;
        margin-top: 10px;
        max-width: 1240px;
        display: flex;
        gap: 10px;
    }

    &-dropdown {
        margin-top: 24px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 76px;
        width: 100%;
        max-width: 1240px;
    }
}

.error {
    color: $red;
    text-align: center;
    margin-bottom: 139px;
    h1 {
        font-size: 288px;
        margin-bottom: 140px;
        font-weight: 700;
    }
    p {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 139px;
    }
    a {
        font-size: 18px;
        font-weight: 500;
    }
}

@import "./Banner.scss";
@import "./Header.scss";
@import "./Gallery.scss";
@import "./Card.scss";
@import "./Accordion.scss";
@import "./Dropdown.scss";
@import "./Slideshow.scss";
@import "./Tag.scss";
@import "./Profile.scss";
@import "./Footer.scss";
