@import "./variables.scss";
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: $red;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline $red;
    }
}
.home,
.apropos,
.logements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

//Pages
@import "../../pages/Logements/Logement.scss";
@import "../../pages/Error/Error.scss";
//Components
@import "../../components/Banner/Banner.scss";
@import "../../components/Header/Header.scss";
@import "../../components/Gallery/Gallery.scss";
@import "../../components/Gallery/Card.scss";
@import "../../components/Accordion/Accordion.scss";
@import "../../components/Collapse/Collapse.scss";
@import "../../components/Logement/Slideshow.scss";
@import "../../components/Logement/Tag.scss";
@import "../../components/Logement/Profile.scss";
@import "../../components/Footer/Footer.scss";
