.slideshow {
    position: relative;
    background-color: $red;
    border-radius: 25px;
    height: 415px;
    width: 100%;
    max-width: 1240px;

    &-arrow {
        position: absolute;
        transform: translateY(200%);
        cursor: pointer;
    }

    .left-arrow {
        left: 0;
        margin-left: 24px;
    }
    .right-arrow {
        right: 0;
        margin-right: 24px;
    }
}
.slideshow {
    position: relative;
    background-color: $red;
    border-radius: 25px;
    height: 415px;
    width: 100%;
    max-width: 1240px;

    &-arrow {
        position: absolute;
        transform: translateY(200%);
        cursor: pointer;
    }

    .left-arrow {
        left: 0;
        margin-left: 24px;
    }
    .right-arrow {
        right: 0;
        margin-right: 24px;
    }
}
.slideshow {
    position: relative;
    background-color: $red;
    border-radius: 25px;
    height: 415px;
    width: 100%;
    max-width: 1240px;

    &-arrow {
        position: absolute;
        transform: translateY(200%);
        cursor: pointer;
    }

    .left-arrow {
        left: 0;
        margin-left: 24px;
    }
    .right-arrow {
        right: 0;
        margin-right: 24px;
    }
}
.slideshow {
    position: relative;
    background-color: $red;
    border-radius: 25px;
    height: 415px;
    width: 100%;
    max-width: 1240px;

    &-arrow {
        position: absolute;
        transform: translateY(200%);
        cursor: pointer;
    }

    .left-arrow {
        left: 0;
        margin-left: 24px;
    }
    .right-arrow {
        right: 0;
        margin-right: 24px;
    }
}
