.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    h3 {
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        color: white;
        background-color: $red;
        height: 52px;
        font-size: 24px;
        font-weight: 500;
        @media (max-width: 768px) {
            height: 30px;
            font-size: 13px;
        }
    }
    ul {
        background-color: $gray;
        border-radius: 0 0 5px 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0s ease-in;
        li {
            list-style: none;
            color: $red;
            font-size: 18px;
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    .arrow {
        position: absolute;
        display: flex;
        right: 0;
        padding-right: 15px;
        cursor: pointer;
    }
    &.open ul {
        padding: 20px;
        max-height: 500px;
        transition: max-height 0.5s;
        @media (max-width: 768px) {
            padding: 13px;
        }
    }
}
