.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 60px;
    margin-left: 60px;
    .container {
        display: flex;
        flex-direction: column;
        max-width: 1080px;

        h1 {
            font-family: "Source Code Pro", monospace;
            border-right: 4px solid $primary;
            animation:
                cursor 1s infinite step-end,
                typing 15s infinite steps(33);
            white-space: nowrap;
            overflow: hidden;
            @media (max-width: 800px) {
                font-size: 28px;
                padding-left: 12px;
                padding-right: 12px;
                animation: none;
                white-space: initial;
                border-right: none;
                overflow: initial;
            }
        }
        .text {
            display: flex;
            justify-content: space-between;
            @media (max-width: 720px) {
                flex-direction: column;
                p {
                    font-size: 1rem;
                }
                align-items: center;
                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .button {
                margin-top: 26px;
                min-width: 120px;
            }
        }
        .profile {
            width: 250px;
            height: 250px;
            border-radius: 50%;

            @media (max-width: 720px) {
                margin-top: 26px;
                width: 150px;
                height: 150px;
            }
        }
        @media (max-width: 720px) {
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }

    @media (min-width: 1240px) {
        margin-left: 5%;
        margin-right: 5%;
    }
    @media (max-width: 700px) {
        margin: 0;
    }
}

@keyframes cursor {
    0%,
    100% {
        border-color: transparent;
    }
    50% {
        border-color: $primary;
    }
}
@keyframes typing {
    0% {
        width: 0ch;
    }
    30% {
        width: 33ch;
    }
    80% {
        width: 33ch;
    }
    100% {
        width: 0ch;
    }
}
