.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-right: 60px;
    margin-left: 60px;
    height: 100vh;
    .container {
        display: flex;
        align-items: center;
        max-width: 1080px;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1 {
                font-family: "Source Code Pro", monospace;
                border-right: 4px solid $primary;
                animation:
                    cursor 1s infinite step-end,
                    typing 15s infinite steps(33);
                white-space: nowrap;
                overflow: hidden;
            }
            @media (max-width: 720px) {
                h1 {
                    font-size: 1.8rem;
                }
                p {
                    font-size: 1rem;
                }
                align-items: center;
            }
            .button {
                margin-top: 26px;
            }
        }
        .profile {
            width: 250px;
            height: 250px;
            border-radius: 50%;

            @media (max-width: 720px) {
                margin-bottom: 18px;
            }
        }
        @media (max-width: 720px) {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }
    }

    @media (min-width: 1240px) {
        margin-left: 5%;
        margin-right: 5%;
    }
    @media (max-width: 700px) {
        margin: 0;
    }
}

@keyframes cursor {
    0%,
    100% {
        border-color: transparent;
    }
    50% {
        border-color: $primary;
    }
}
@keyframes typing {
    0% {
        width: 0ch;
    }
    30% {
        width: 33ch;
    }
    80% {
        width: 33ch;
    }
    100% {
        width: 0ch;
    }
}
