@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap");
* {
  font-family: "Noto Sans";
  padding: 0;
  margin: 0; }

html,
#mainDiv,
body,
#root {
  height: 100%; }

#mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

h1 {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 36px; }

p {
  max-width: 80%;
  font-weight: 300;
  font-size: 18px; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 124px;
  margin-bottom: 26px; }
  .header .nav {
    font-weight: 400;
    font-size: 28px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-14px);
    display: flex;
    gap: 50px;
    padding-right: 60px; }
    .header .nav a {
      text-decoration: none;
      color: black; }

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 34px;
  padding-bottom: 34px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  height: 50%; }
  .info .text {
    max-width: 50%; }
  .info .profile {
    width: 250px;
    height: 250px;
    border-radius: 50%; }
  @media (min-width: 1240px) {
    .info {
      margin-left: 25%;
      margin-right: 25%; } }

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  margin-top: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 100px;
  padding-right: 100px; }
  .project h2 {
    text-align: center; }
  .project .project-desc {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    background-color: #393939;
    border-radius: 12px;
    gap: 16px;
    padding: 26px;
    max-width: 1200px; }
    .project .project-desc h3 {
      width: 100%;
      color: white; }
    .project .project-desc p {
      display: flex;
      flex-direction: column;
      color: white;
      max-width: 500px;
      font-size: 16px; }
      .project .project-desc p a {
        text-decoration: none;
        color: #ff8811;
        font-weight: 500; }
        .project .project-desc p a:hover {
          text-decoration: underline; }
    .project .project-desc .container {
      display: flex;
      position: relative;
      gap: 20px;
      max-width: 100%;
      height: 100%; }
      .project .project-desc .container img {
        max-width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 12px; }
      .project .project-desc .container .nav-button {
        position: absolute;
        top: 50%;
        transform: translateY(-24px);
        background-color: #ff8811;
        cursor: pointer;
        width: 48px;
        height: 48px; }
      .project .project-desc .container .prev {
        left: -80px; }
      .project .project-desc .container .next {
        right: -80px; }
      @media (max-width: 1200px) {
        .project .project-desc .container {
          flex-direction: column; } }
  .project .tags {
    display: flex;
    gap: 12px; }
    .project .tags .skill-tag {
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
      min-width: 52px;
      max-width: 100%;
      padding: 0 6px;
      background-color: #ff8811;
      border-radius: 8px; }

.skills {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .skills h2 {
    text-align: center;
    margin-bottom: 26px; }
  .skills h3 {
    background-color: #ff8811;
    color: white;
    padding-right: 24px;
    text-align: end;
    border-radius: 20px 40px 0 0; }
  .skills li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .skills li img {
      height: 96px; }
      @media (max-width: 700px) {
        .skills li img {
          height: 48px; } }
  .skills .skills-container {
    display: flex;
    gap: 26px; }
    @media (max-width: 1200px) {
      .skills .skills-container {
        flex-direction: column; } }
  .skills .card .container {
    border-radius: 0 0 20px 20px;
    padding: 26px;
    background: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.2) -1px 1px 10px inset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 18px; }
    @media (max-width: 700px) {
      .skills .card .container {
        grid-template-columns: 1fr 1fr; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: black;
  color: white;
  height: 100px; }
  .footer .links img {
    background-color: white;
    padding: 6px;
    border-radius: 50%; }

/*# sourceMappingURL=index.css.map */
