@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap");

//Variables
$lightgray: #eeeeee;
$darkgray: #393939;
$primary: #ff8811;
* {
    font-family: "Noto Sans";
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro,
.project,
.skills {
    position: relative;
}

h1 {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 36px;
}
p {
    max-width: 80%;
    font-weight: 300;
    font-size: 18px;
}

@import "../components/Header/Header.scss";
@import "../components/Arrow/Arrow.scss";
@import "../components/Intro/Intro.scss";
@import "../components/Project/Project.scss";
@import "../components/Skills/Skills.scss";
@import "../components/Footer/Footer.scss";
