@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
//Variables
$lightgray: #eeeeee;
$darkgray: #666666;
$primary: #ff8811;

* {
    font-family: "Noto Sans";
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.scroll{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    @media(max-width: 1200px){
        scroll-snap-type: none;
    }
}
.intro,
.project,
.skills {
    min-height: 100vh;
    position: relative;
    scroll-snap-align: center;
}
.footer{
    position: relative;
    scroll-snap-align: center;
}



h1 {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 36px;
}
p {
    max-width: 80%;
    font-weight: 300;
    font-size: 18px;
}
@media (max-width: 1200px) {
    .arrow {
        display: none;
    }
}

//View
@import "../views/Intro/Intro.scss";
@import "../views/Project/Project.scss";
@import "../views/Skills/Skills.scss";
//Components
@import "../components/Arrow/Arrow.scss";
@import "../components/Tag/Tag.scss";
@import "../components/Card/CardFlip.scss";
@import "../components/Card/CardOs.scss";
@import "../components/Card/Card.scss";
@import "../components/Button/Button.scss";
@import "../components/Footer/Footer.scss";
