.project {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $lightgray;
    margin-top: 24px;
    padding-top: 26px;
    padding-bottom: 26px;

    padding-left: 32px;
    padding-right: 32px;
    h2 {
        text-align: center;
    }

    .project-desc {

    max-width: 800px;
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        background-color: $darkgray;
        border-radius: 6px;
        gap: 16px;
        padding: 12px;
        h3 {
            width: 100%;
            color: white;
        }
        p {
            display: flex;
            flex-direction: column;
            color: white;
            a {
                text-decoration: none;
                color: $primary;
                font-weight: 500;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .container {
            display: flex;
            gap: 20px;
            img {
                max-width: 500px;
                height: 300px;
                border-radius: 12px;
            }
        }
    }

    .tags {
        display: flex;
        gap: 12px;
        .skill-tag {
            color: white;
            display: flex;
            justify-content: center;
            align-content: center;
            min-width: 52px;
            max-width: 100%;
            padding: 0 6px;
            background-color: $primary;
            border-radius: 8px;
        }
    }
}
