.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $lightgray;
    margin-top: 24px;
    padding-top: 26px;
    padding-bottom: 26px;

    padding-left: 100px;
    padding-right: 100px;
    height: 100vh;
    h2 {
        text-align: center;
    }

    .project-desc {
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        background-color: $darkgray;
        border-radius: 12px;
        gap: 16px;
        padding: 26px;

        max-width: 1200px;
        h3 {
            width: 100%;
            color: white;
        }
        p {
            display: flex;
            flex-direction: column;
            color: white;
            max-width: 500px;

            font-size: 16px;
            a {
                text-decoration: none;
                color: $primary;
                font-weight: 500;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .container {
            display: flex;
            position: relative;
            gap: 20px;
            max-width: 100%;
            height: 100%;
            img {
                max-width: 300px;
                height: 300px;
                object-fit: cover;
                border-radius: 12px;
            }
            .nav-button {
                position: absolute;
                top: (50%);
                transform: translateY(-24px);
                background-color: $primary;
                cursor: pointer;
                width: 48px;
                height: 48px;
            }
            .prev {
                left: -80px;
            }
            .next {
                right: -80px;
            }
            @media (max-width: 1200px) {
                flex-direction: column;
            }
        }
    }

    .tags {
        display: flex;
        gap: 12px;
        .skill-tag {
            color: white;
            display: flex;
            justify-content: center;
            align-content: center;
            min-width: 52px;
            max-width: 100%;
            padding: 0 6px;
            background-color: $primary;
            border-radius: 8px;
        }
    }
}
