.info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 54px;
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;

    .text {
        max-width: 50%;
        .title {
            margin-bottom: 12px;
            font-weight: 500;
            font-size: 36px;
        }
        .info-text {
            max-width: 80%;
            font-weight: 300;
            font-size: 18px;
        }
    }
    .profile {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
}
