.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: black;
    color: white;
    height: 100px;
    .links {
        img {
            background-color: white;
            padding: 6px;
            border-radius: 50%;
        }
    }
}
