.card {
    background: $lightgray;
    box-shadow: rgba(#000000, $alpha: 0.2) -1px 1px 10px inset;

    border-radius: 12px 26px 20px 20px;
    h4 {
        margin-left: 12px;
        margin-top: 10px;
    }
    .container {
        border-radius: 0 0 20px 20px;
        padding: 26px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 18px;
        @media (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
            padding: 6px;
            row-gap: 12px;
        }
    }
}
