.card-os {
    margin-left: 10px;

    .container {
        display: flex;
        align-items: center;
        p {
            margin-left: 26px;
            font-size: 1rem;
            @media(max-width:1200px){
                max-width: 90%;
            }
        }

        @media (max-width: 1200px) {
            flex-direction: column;
            p {
                padding: 0;
                margin: 12px 0 0 0;
            }
        }
    }
}
