.card {
    background-color: $lightgray;
    box-shadow: rgba(#000000, $alpha: 0.2) -1px 1px 10px inset;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    max-width: 1200px;
    border-radius: 12px;
    .container {
        padding: 26px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 26px;
        max-width: 800px;
    }
    @media (max-width: 500px) {
        border-radius: 0;
    }

    li {
        transition: 0.5s;
    }
    li:hover {
        cursor: pointer;
        transform: scale(1.5);
        transition: transform 0.5s;
    }
}
